In [1]:
import pandas as pd
import numpy as np

In [2]:
new=pd.read_csv("dirtydata.csv")

In [3]:
new

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127    -300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132    -280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [4]:
new.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [5]:
new.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  266.013333
std     70.039591    7.832933   12.998759  164.876415
min     30.000000   90.000000  101.000000 -300.000000
25%     60.000000  100.000000  120.000000  247.000000
50%     60.000000  102.500000  127.500000  282.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [6]:
a=new['Calories'].mean()

In [7]:
new['Calories'].fillna(a,inplace=True)  #filling NaN values in calories with their mean

In [8]:
new

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127 -300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
22        45           NaN    100       119  282.000000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132 -280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [9]:
new.isnull().sum()    #to check the null values and find their count

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [10]:
new.shape   #to check the dimension of dataset

(32, 5)

In [11]:
new.dtypes      #to check the data types of the dataset

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [12]:
new['Calories']=new['Calories'].abs()   #to convert negative to positive

In [13]:
new

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
22        45           NaN    100       119  282.000000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [14]:
new.round(2)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    266.01
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    266.01
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

In [15]:
new1=new      #to make copy of main dataset

In [16]:
new1['Calories']=new1['Calories'].astype(int)   #convert float to int

In [17]:
new1.dtypes

Duration     int64
Date        object
Pulse        int64
Maxpulse     int64
Calories     int64
dtype: object

In [18]:
new1

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130       409
1         60  '2020/12/02'    117       145       479
2         60  '2020/12/03'    103       135       340
3         45  '2020/12/04'    109       175       282
4         45  '2020/12/05'    117       148       406
5         60  '2020/12/06'    102       127       300
6         60  '2020/12/07'    110       136       374
7        450  '2020/12/08'    104       134       253
8         30  '2020/12/09'    109       133       195
9         60  '2020/12/10'     98       124       269
10        60  '2020/12/11'    103       147       329
11        60  '2020/12/12'    100       120       250
12        60  '2020/12/12'    100       120       250
13        60  '2020/12/13'    106       128       345
14        60  '2020/12/14'    104       132       379
15        60  '2020/12/15'     98       123       275
16        60  '2020/12/16'     98       120       215
17        60  '2020/12/17'    100       120       300
18        45  '2020/12/18'     90       112       266
19        60  '2020/12/19'    103       123       323
20        45  '2020/12/20'     97       125       243
21        60  '2020/12/21'    108       131       364
22        45           NaN    100       119       282
23        60  '2020/12/23'    130       101       300
24        45  '2020/12/24'    105       132       246
25        60  '2020/12/25'    102       126       334
26        60      20201226    100       120       250
27        60  '2020/12/27'     92       118       241
28        60  '2020/12/28'    103       132       266
29        60  '2020/12/29'    100       132       280
30        60  '2020/12/30'    102       129       380
31        60  '2020/12/31'     92       115       243

In [19]:
new.dropna()

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130       409
1         60  '2020/12/02'    117       145       479
2         60  '2020/12/03'    103       135       340
3         45  '2020/12/04'    109       175       282
4         45  '2020/12/05'    117       148       406
5         60  '2020/12/06'    102       127       300
6         60  '2020/12/07'    110       136       374
7        450  '2020/12/08'    104       134       253
8         30  '2020/12/09'    109       133       195
9         60  '2020/12/10'     98       124       269
10        60  '2020/12/11'    103       147       329
11        60  '2020/12/12'    100       120       250
12        60  '2020/12/12'    100       120       250
13        60  '2020/12/13'    106       128       345
14        60  '2020/12/14'    104       132       379
15        60  '2020/12/15'     98       123       275
16        60  '2020/12/16'     98       120       215
17        60  '2020/12/17'    100       120       300
18        45  '2020/12/18'     90       112       266
19        60  '2020/12/19'    103       123       323
20        45  '2020/12/20'     97       125       243
21        60  '2020/12/21'    108       131       364
23        60  '2020/12/23'    130       101       300
24        45  '2020/12/24'    105       132       246
25        60  '2020/12/25'    102       126       334
26        60      20201226    100       120       250
27        60  '2020/12/27'     92       118       241
28        60  '2020/12/28'    103       132       266
29        60  '2020/12/29'    100       132       280
30        60  '2020/12/30'    102       129       380
31        60  '2020/12/31'     92       115       243

In [20]:
new['Date']=pd.to_datetime(new['Date'])

In [21]:
new

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7        450 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
22        45        NaT    100       119       282
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [22]:
new.dropna()

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7        450 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [23]:
new.loc[7,'Duration']=45

In [24]:
new

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
22        45        NaT    100       119       282
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [25]:
new.dropna()

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [26]:
new.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [27]:
new.duplicated().sum()

1

In [28]:
new.drop_duplicates(inplace=True)

In [29]:
new

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
22        45        NaT    100       119       282
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [30]:
new.duplicated().sum()

0

In [31]:
#new dataset

In [32]:
df=pd.read_csv('nba.csv')

In [33]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [34]:
df.shape

(457, 9)

In [35]:
df.dtypes

Name         object
Team         object
Number        int64
Position     object
Age           int64
Height       object
Weight        int64
College      object
Salary      float64
dtype: object

In [36]:
df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [37]:
df['Position'].unique()

array(['PG', 'SF', 'SG', 'PF', 'C'], dtype=object)

In [38]:
df['Position'].value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [39]:
df['Pos']=df['Position'].replace(['SG','PF','PG','SF','C'],[1,2,3,4,5])  #categorical to quantative

In [40]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Pos
0,Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0,3
1,Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0,4
2,John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN,1
3,R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0,1
4,Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0,2
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0,2
453,Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0,3
454,Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0,3
455,Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0,5
456,Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0,5

In [ ]:
#using label encoding

In [43]:

from sklearn import preprocessing

In [44]:
le=preprocessing.LabelEncoder()

In [45]:
df['Position']=le.fit_transform(df['Position'])

In [46]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Pos
0,Avery Bradley,Boston Celtics,0,2,25,2-Jun,180,Texas,7730337.0,3
1,Jae Crowder,Boston Celtics,99,3,25,6-Jun,235,Marquette,6796117.0,4
2,John Holland,Boston Celtics,30,4,27,5-Jun,205,Boston University,NaN,1
3,R.J. Hunter,Boston Celtics,28,4,22,5-Jun,185,Georgia State,1148640.0,1
4,Jonas Jerebko,Boston Celtics,8,1,29,10-Jun,231,NaN,5000000.0,2
...,...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,1,20,10-Jun,234,Kentucky,2239800.0,2
453,Shelvin Mack,Utah Jazz,8,2,26,3-Jun,203,Butler,2433333.0,3
454,Raul Neto,Utah Jazz,25,2,24,1-Jun,179,NaN,900000.0,3
455,Tibor Pleiss,Utah Jazz,21,0,26,3-Jul,256,NaN,2900000.0,5
456,Jeff Withey,Utah Jazz,24,0,26,Jul-00,231,Kansas,947276.0,5

In [52]:
#df.to_csv('nba_preprocessed.csv')